.assessmentTagInput {
	.react-tag-input {
		height: 50px;
		margin: 8px 0 2px 0px;
		border: 1px solid rgb(173, 173, 173);
		background: transparent;
	} /* Wrapper */

	.assessmentTagInput {
		display: none;
	}
	.react-tag-input__input {
		font-size: 1.35rem;
		&::placeholder {
			color: rgb(59, 59, 59);
		}
	} /* Inner input */
	.react-tag-input__tag {
		font-size: 1.3rem;
		height: 28px;
	} /* Tag wrapper */
	.react-tag-input__tag__content {
		color: rgb(119, 119, 119);
		//mix-blend-mode: difference;
	} /* The text content within the tag */
	.react-tag-input__tag__remove {
		height: 100%;
	} /* The remove button & icon for a tag */
}

.MuiFormControl-root {
	width: 100%;
	margin: 1rem 0 1rem 0;
}
